section.about.py-lg-7.py-4(id="about")
    .container
        .row.align-items-center
            .col-lg-6.mt-md-5
               .heading
                   h2.title
                        |Cтудия
                        br
                        |"Детейлинг Рудь"
                   .sub-title.
                       Детейлинг - это целая философия чистоты. На сегодня мы - единственная настоящая студия
                       детейлинга, с полным наполнение внутри и снаружи в Благовещенске. Детейлинг это супер
                       придирчивость ко всем мелочам. Тому, что другие не замечают и не делают. Например, чтобы
                       заполировать машину в идеальное состояние, мы работаем с 4 разными полировальными
                       машинками, и проходим 6 шагов на этапе к совершенству. В любой обычной полировальне
                       делают до 3 действий, в лучшем случае. Почему клиент должен выбрать нас? Потому что мы нацелены,
                       в первую очередь, на успех клиента. На то, чтобы он ощущал себя на миллион! Мы грамотные
                       и вежливые люди и работаем для людей.

            .col-lg-6
                img(class="about-logo d-none d-lg-block" src="images/about_logo.png")
