section.about.py-lg-4.py-3(id="about")
    .container
        .row.mt-10.pt-4.mt-md-7.mt-sm-0.justify-content-center
            .col-lg-4.col-12.col-sm-6
                .block-icon.mb-4.mb-lg-0.mx-auto
                    .icon-wrap
                        .icon.icon-tools
                    .block-icon-content
                        h5 Высокочаственные материалы
                        p Самые дорогие премиумные материалы

            .col-lg-4.col-12.col-sm-6
                .block-icon.mb-4.mb-lg-0.mx-auto
                    .icon-wrap
                        .icon.icon-garage
                    .block-icon-content
                        h5 Крутая Студия
                        p Чистая и освещенная студия с качественным ремонтом

            .col-lg-4.col-12.col-sm-6
                .block-icon.mb-4.mb-lg-0.mx-auto
                    .icon-wrap
                        .icon.icon-mechanic
                    .block-icon-content
                        h5 Профессионалы
                        p Персонал с наличием специального образования