footer.footer.mt-6.pb-6(id="contacts")
    .container
        .row
            .col-lg-7.order-2.order-lg-1
                a(class="dg-widget-link" href="http://2gis.ru/blagoveshensk/firm/70000001027825468/center/127.55300760269166,50.25532744202173/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap") Посмотреть на карте Благовещенска
                .dg-widget-link
                    a(href="http://2gis.ru/blagoveshensk/firm/70000001027825468/photos/70000001027825468/center/127.55300760269166,50.25532744202173/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos") Фотографии компании
                .dg-widget-link
                    a(href="http://2gis.ru/blagoveshensk/center/127.553002,50.255069/zoom/16/routeTab/rsType/bus/to/127.553002,50.255069╎Детейлинг Рудь, студия профессионального детейлинга?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route") Найти проезд до Детейлинг Рудь, студия профессионального детейлинга                </div>

                    script(charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js")
                    script(charset="utf-8") new DGWidgetLoader({"width":600,"height":400,"borderColor":"#a3a3a3","pos":{"lat":50.25532744202173,"lon":127.55300760269166,"zoom":16},"opt":{"city":"blagoveshensk"},"org":[{"id":"70000001027825468"}]})
                    noscript(style="color:#c00;font-size:16px;font-weight:bold;") Виджет карты использует JavaScript. Включите его в настройках вашего браузера.


                .col-lg-5.order-1.order-lg-2
                    .heading.mb-6.mb-lg-0
                        h2.title Контакты
                        .sub-title
                            .h5 г. Благовещенск, ул Ленина, 60
                            br
                            .h5 +7(4162)21-50-05
                            .h5 WhatsApp +7(914)559-52-55
                            br
                            .h5 Instagram:&nbsp
                                a(href="https://www.instagram.com/detailing_rud/" target="_blank") @detailing_rud