section.gallery(id="gallery")
    .row.no-gutters
        .col-lg-6.col-md-12
            a.fancybox-item(data-fancybox="gallery" href="images/gallery/1.jpg")
                .overflow
                img(src="images/gallery/thumb_1.jpg")
            a.fancybox-item(data-fancybox="gallery" href="images/gallery/2.jpg")
                .overflow.show
                img(src="images/gallery/thumb_2.jpg")
            a.fancybox-item(data-fancybox="gallery" href="images/gallery/3.jpg")
                .overflow.show
                img(src="images/gallery/thumb_3.jpg")
            a.fancybox-item(data-fancybox="gallery" href="images/gallery/4.jpg")
                .overflow
                img(src="images/gallery/thumb_4.jpg")
        .col-lg-6.d-none.d-lg-block
            a.fancybox-item.w-100(data-fancybox="gallery" href="images/gallery/5.jpg")
                .overflow
                img(src="images/gallery/thumb_5.jpg")