nav.navbar.navbar-expand-lg.navbar-dark
    .container
        a.navbar-brand(href="#") DETAILING RUD&nbsp;
            span.d-none.d-sm-inline | +7(914)559-52-55
        button( class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
            span.navbar-toggler-icon

        .collapse.navbar-collapse(id="navbarNav")
            ul.navbar-nav.ml-auto(id="scrollspy")
                li.nav-item
                    a.nav-link(href="#services") Услуги
                li.nav-item
                    a.nav-link(href="#gallery") Галерея
                li.nav-item
                    a.nav-link(href="#about") О нас
                li.nav-item
                    a.nav-link(href="#contacts") Контакты

//-
                li.nav-item
                    a.fa-stack.fa-lg(href="#")
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-instagram.fa-stack-1x.fa-inverse
                li.nav-item
                    a.fa-stack.fa-lg(href="#")
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-facebook.fa-stack-1x.fa-inverse