section.offer.py-lg-8.py-4(id="offer")
    .container
        .row
                .heading.text-center.w-100.heading-no-line
                    h2.title
                        |Специальное предложение
                        br
                        |от нашего Детейлинг Центра!
                    .sub-title
                        div.mb-5.h5 Закажи осмотр авто на сайте и получи бесплатную услугу на 5000 рублей.
                        a.btn.btn-outline-primary.btn-lg(href="#callback") Записаться на осмотр


