section.services.pt-4.pb-10(id="services")
    .heaading-back Услуги
    .container
        .row
            .col-lg-6
                .heading
                    h2.title Наши Услуги
                ul.list-unstyled.services-list
                    li Полировка автомобиля
                    li Химчистка автомобиля
                    li Обклейка антигравийной пленкой Suntek
                    li Нанесение керамики(керамика, керамик про)
                    li Премиум детейлинг
                    li Детейлинг моторного отсека
                    li Химчистка колесных дисков
                    li Химчистка арки и подвески
                    li Нано-защита колесных дисков
                    li Нано-защита салона
                    li Нано-защита стекол
                    li Полировка декоративных вставок салона


                button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#priceModal") Посмотреть прайс-лист

