section.services.pt-4.pb-10(id="services")
    .heaading-back Услуги
    .container
        .row
            .col-lg-6
                .heading
                    h2.title Наши Услуги
                ul.list-unstyled.services-list
                    li Детейлинг полировка автомобиля
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Полировка автомобиля – это процесс воссоздания или восстановления защиты лакокрасочного покрытия кузова автомобиля от агрессивных факторов окружающей среды. Автополировка устранит потертости, пятна на лакокрасочном покрытии, которые возникают из-за механических воздействия или соприкосновения  с другими авто, а так же шероховатости. Детейлинг полировка кузова – это уникальная процедура, позволяющая провести комплексную полировку автомобиля, где уделяется максимальное внимание каждой детали.')
                    li Детейлинг химчистка автомобиля
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Химчистка салона автомобиля нужна не только для эстетически приятного зрелища, но и также для здоровья водителя и пассажиров. Связано это с тем, что на визуально чистых сидениях содержится очень много глубокой пыли и микроорганизмов, которые со временем могут стать причиной проявления у людей аллергических реакций. Благодаря опытным мастерам и высокоэффективным составам, с внутренней обивки и сидений легко удаляются любые пятна и загрязнения.')
                    li Правильная мойка авто
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Наша автомойка — это безупречный сервис и отличный результат. Специально обученный персонал выполнит свою работу быстро, тем самым сэкономив ваше время. Использование профессионального оборудования и качественных моющих средств и расходных компонентов позволяет нам считаться одними из лучших на данном рынке услуг.')
                    li Обклейка антигравийной пленкой Suntek
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Оклейка автомобиля пленкой - это особая процедура, когда детали кузова оклеиваются специальной защитной пленкой. Пленка не позволяет ультрафиолетовым лучам воздействовать на краску, и тем самым защищает цвет автомобиля, а так же защищает и предотвращает появления вмятин, царапин и т.д. Полиуретановая пленка SunTek производится в США и применяется для защиты лакокрасочного покрытия автомобиля и другой наземной, морской и воздушной техники. Пленка готова устоять перед  любыми погодно климатическими испытаниями.')
                    li Нанесение керамики(EverGlass, Ceramic Pro)
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Керамическая полировка автомобиля – инновационная процедура, позволяющая вернуть блеск, насыщенность цвета и идеальную гладкость покрытия автомобиля. За счет особых компонентов состав на молекулярном уровне сцепляется с поверхностью покрытий, обеспечивая мощный гидрофобный и антистатический эффект, а после полного застывания становится твердым и устойчивым к механическому и химическому воздействию.')
                    li Премиум детейлинг
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Полный комплекс работ по уборке интерьера и экстерьера транспортного средства. Работа квалифицированных мастеров предусматривает качественный детейлинг по доступной цене с использованием лучшего оборудования и материалов.')
                    li Детейлинг моторного отсека
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Чистый двигатель и моторный отсек — это норма для автомобиля! Другое дело, что небрежная работа по очищению моторного отсека от накопившейся грязи может повлечь за собой серьезные последствия. Дабы не играть в русскую рулетку, мы предлагаем максимально безопасную услугу — моторный детейлинг. Он сохраняет, а в некоторых случаях увеличивает срок службы узлов и агрегатов, а идеально чистый двигатель «радует глаз» владельца автомобиля и подчеркивая его заботу о нем!')
                    li Химчистка колесных дисков
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Химчистка колесных дисков представляет собой совокупность высокотехнологичных процедур, которые дают возможность полной их очистки. Вместе с тем, используемые средства современной автохимии дают уникальную возможность бережной обработки, полностью исключая повреждения или царапины в процессе химчистки.')
                    li Химчистка колесных арок и подвески
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Взглянув на автомобиль снизу мы увидим ужасающую картину, как все отходы дорожных сетей слоями покрыли все днище, ходовые агрегаты и узлы, а так же колесные арки. И тут не стоит вспоминать, что влекут за собой все эти отложения. В процессе этой услуги применяется тот же принцип, что и при детейлинге моторного отсека, мойка с кисточками, затем сушка и консервация.')
                    li Нано-защита колесных дисков
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Нано-защита дисков — это специальное гидрофобное (водоотталкивающее) покрытие. После нанесения на диск, данное покрытие создает предельно устойчивый защитный барьер. Данное покрытие очень прочное, оно «не боится» уличных реагентов, легких механических воздействий, ультрафиолетовых лучей, его ничем невозможно смыть или растворить')
                    li Нано-защита салона
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Нано-защита салона придает новые физические свойства материалам отделки интерьера и обивки сидений. Нано слой защищает пластик от царапин и других случайных механических повреждений, препятствует его выгоранию. Обивка кресел приобретает влагоотталкивающий эффект, случайно пролитая жидкость долго не впитывается, что позволяет легко удалить ее салфеткой. Повышается и износостойкость обивки.')
                    li Нано-защита стекол
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Нанесение на стекла нано — покрытия придает грязе- и влагоотталкивающие свойства. Дождевые капли и снег вместе с грязью самоудаляются со стекла во время движения, а небольшая их часть, оставшаяся на поверхности стекла, легко смывается чистой водой. Этот эффект объясняется тем, что нано-покрытие заполняет собой все микроцарапины и другие неровности на стекле, делая его абсолютно гладкой, лишая грязь и влагу возможности за что-то уцепиться и задержаться на поверхности.')
                    li Полировка декоративных вставок салона
                        i.fa.fa-info-circle.ml-2(data-toggle="tooltip" data-placement="top" title='Восстановительная полировка декоративных элементов салона позволяет вернуть первоначальный лоск и новизну всем элементам интерьера автомобиля. Такие элементы, или как их ещё называют, вставки чаще всего выполнены из дерева или пластика. Мы полируем декоративные вставки салона автомобиля, выполненные из любых материалов!')


                button(type="button" class="btn btn-primary d-block mx-auto mx-sm-0" data-toggle="modal" data-target="#priceModal") Посмотреть прайс-лист

