doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1" )
        meta(name="yandex-verification" content="7bb75980f5c89e18")
        link(id="favicon" rel="shortcut icon" href="/images/favicon.png" type="image/png")
        link(href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700,900&amp;subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
        title "ДетейлингРудь" - Eдинственная настоящая студия детейлинга в Благовещенске, с полным наполнением внутри и снаружи.
    body(data-spy="scroll" data-target="#scrollspy")
        .wrap-container
            include sections/header
            include sections/hero
            include sections/advantage
            include sections/offer
            include sections/services
            include sections/gallery
            include sections/about
            include sections/reviews
            include sections/footer


        .copyright.mb-lg-5
            .container-fluid
                .row
                    .col-12.col-sm-6.text-center.text-sm-left &copy 2017 Все права защищены.
                    .col-12.col-sm-6.text-center.text-sm-right
                        | Разработка -
                        |
                        a(href="//darkstudio.pro/" target="_blank") Dark Studio


        include sections/price_list

    script(src="js/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/aos.js")
    script(src="js/jquery.fancybox.min.js")
    script(src="js/common.js")
    // Begin LeadBack code {literal}
    script.
        var _emv = _emv || [];
        _emv['campaign'] = '8e3308c853e4747c36d0294e';
        (function() {
        var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
        em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
        })();
    // End LeadBack code {/literal}
    // Yandex.Metrika counter -->
    script(type="text/javascript").
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45980865 = new Ya.Metrika({ id:45980865, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
        div
            img(src="https://mc.yandex.ru/watch/45980865" style="position:absolute; left:-9999px;" alt="")
    // /Yandex.Metrika counter -->
