.wrap-container{
  max-width: 1300px;
  margin: 80px auto 5px auto;
  background-color: #010101;
  border-radius: 20px;
  box-shadow: 0 0  100px 10px #313027;

}
.fa{
  text-shadow: none;
}

.copyright{
  color:#171717;
  text-shadow: none;
  font-weight: 400;
  max-width: 1300px;
  margin: 0px auto;
  padding: 0 20px;
}


@media (max-width: 1300px) {
  .wrap-container{
    width: 100%;
    margin-top: 0px;
    border-radius: 0;
  }

}



/*
  Modal Price List
*/

  .modal-content{
    background-color: #010101;
    text-shadow: none;
    color:$white;
  }
  .modal-header{
    border-bottom: none;

    .fa{
      color:$white;
    }
  }
  .table-bordered th{
    font-weight: 700;
  }
  .table-bordered th, .table-bordered td{
    border-color: $yellow !important;

  }
  .table-bordered td{
    font-size: .95rem;
  }
